/*
	Theme Name: TSF
	Theme URI: http://designnify.com/
	Description: This is custom theme for Tampere Salsa Festival 2017.
	Author: Mauricio Alvarez
	Author URI: http://designnify.com/

	Version: 2.3.0

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.3.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: genesis-sample
*/
/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Home Page Widgets
	- Featured Content
- Pages
	- Progam and Schedule
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/
/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */
/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
body {
  margin: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
audio, canvas, progress, video {
  display: inline-block; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
progress {
  vertical-align: baseline; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
template, [hidden] {
  display: none; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
a:active, a:hover {
  outline-width: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
b, strong {
  font-weight: inherit; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
b, strong {
  font-weight: bolder; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
dfn {
  font-style: italic; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
mark {
  background-color: #ff0;
  color: #000; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
small {
  font-size: 80%; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
sup {
  top: -0.5em; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
img {
  border-style: none; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
figure {
  margin: 1em 40px; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button, input {
  overflow: visible; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button, select {
  text-transform: none; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
textarea {
  overflow: auto; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* ## Box Sizing
--------------------------------------------- */
/* line 10, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
html,
input[type="search"] {
  box-sizing: border-box; }

/* line 17, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* ## Float Clearing
--------------------------------------------- */
/* line 27, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table; }

/* line 45, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_reset.scss */
.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table; }

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
html {
  font-size: 62.5%;
  /* 10px browser default */ }

/* Chrome fix */
/* line 9, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
body > div {
  font-size: 20px;
  font-size: 2rem; }

/* line 14, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
body {
  background-color: #eee;
  color: #333;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.625;
  margin: 0; }

/* line 26, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  font-family: "Oswald", sans-serif;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

/* line 43, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
a {
  color: #c3251d;
  text-decoration: underline; }

/* line 48, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
a:focus,
a:hover {
  color: #333;
  text-decoration: none; }

/* line 54, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
p {
  margin: 0 0 28px;
  padding: 0; }

/* line 59, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 65, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
li {
  list-style-type: none; }

/* line 69, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 1em 0; }

/* line 77, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
b,
strong {
  font-weight: 700; }

/* line 82, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
blockquote,
cite,
em,
i {
  font-style: italic; }

/* line 89, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
mark {
  background: #ddd;
  color: #000; }

/* line 94, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
blockquote {
  margin: 40px; }

/* line 98, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  font-size: 3rem;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px; }

/* ## Headings
--------------------------------------------- */
/* line 113, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px; }

/* line 125, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem; }

/* line 130, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h2 {
  font-size: 30px;
  font-size: 3rem; }

/* line 135, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h3 {
  font-size: 24px;
  font-size: 2.4rem; }

/* line 140, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h4 {
  font-size: 20px;
  font-size: 2rem; }

/* line 145, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem; }

/* line 150, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem; }

/* ## Objects
--------------------------------------------- */
/* line 158, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

/* line 167, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
img {
  height: auto; }

/* line 171, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
figure {
  margin: 0; }

/* ## Gallery
--------------------------------------------- */
/* line 178, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery {
  overflow: hidden; }

/* line 182, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center; }

/* line 188, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-1 .gallery-item {
  width: 100%; }

/* line 192, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-2 .gallery-item {
  width: 50%; }

/* line 196, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-3 .gallery-item {
  width: 33%; }

/* line 200, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-4 .gallery-item {
  width: 25%; }

/* line 204, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-5 .gallery-item {
  width: 20%; }

/* line 208, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

/* line 212, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

/* line 216, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-8 .gallery-item {
  width: 12.5%; }

/* line 220, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

/* line 224, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left; }

/* line 235, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px; }

/* line 241, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.gallery img:focus,
.gallery img:hover {
  border: 1px solid #999; }

/* ## Forms
--------------------------------------------- */
/* line 249, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 16px;
  width: 100%; }

/* line 262, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

/* line 268, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

/* line 274, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
::-moz-placeholder {
  color: #333;
  opacity: 1; }

/* line 279, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
::-webkit-input-placeholder {
  color: #333; }

/* line 283, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #000;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto; }

/* line 301, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
  background-color: #d0d102;
  color: #fff; }

/* line 315, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.entry-content .button:focus,
.entry-content .button:hover {
  color: #fff; }

/* line 320, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.button {
  display: inline-block; }

/* line 324, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px; }

/* line 332, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed; }

/* line 348, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

/* ## Tables
--------------------------------------------- */
/* line 356, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
  word-break: break-all; }

/* line 365, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
tbody {
  border-bottom: 1px solid #eee; }

/* line 369, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
td,
th {
  text-align: left; }

/* line 374, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
td {
  border-top: 1px solid #eee;
  padding: 6px; }

/* line 379, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
th {
  font-weight: 400;
  padding: 0 6px; }

/* line 384, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
td:first-child,
th:first-child {
  padding-left: 0; }

/* ## Screen Reader Text
--------------------------------------------- */
/* line 392, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

/* line 404, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* line 422, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_defaults.scss */
.more-link {
  position: relative; }

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.site-inner,
.wrap,
.front-page-1 {
  margin: 0 auto;
  max-width: 1280px; }

/* line 11, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word; }

/* line 17, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.landing-page .site-inner {
  max-width: 800px; }

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
/* line 26, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 1060px; }

/* line 32, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap {
  float: left; }

/* line 36, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right; }

/* ### Content */
/* line 43, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content {
  float: right;
  width: 880px; }

/* line 48, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left; }

/* line 54, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 660px; }

/* line 60, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.full-width-content .content {
  width: 100%; }

/* ### Primary Sidebar */
/* line 66, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.sidebar-primary {
  float: right;
  width: 360px; }

/* line 71, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left; }

/* ### Secondary Sidebar */
/* line 78, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.sidebar-secondary {
  float: left;
  width: 180px; }

/* line 83, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .sidebar-secondary {
  float: right; }

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
/* line 91, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

/* line 106, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

/* line 112, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.one-third,
.two-sixths {
  width: 31.623931623931625%; }

/* line 117, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

/* line 122, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.one-fourth {
  width: 23.076923076923077%; }

/* line 126, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.three-fourths {
  width: 74.35897435897436%; }

/* line 130, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.one-sixth {
  width: 14.52991452991453%; }

/* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.five-sixths {
  width: 82.90598290598291%; }

/* line 138, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_structure-layout.scss */
.first {
  clear: both;
  margin-left: 0; }

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.avatar {
  border-radius: 50%;
  float: left; }

/* line 9, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.author-box .avatar,
.alignleft .avatar {
  margin-right: 24px; }

/* line 14, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.alignright .avatar {
  margin-left: 24px; }

/* line 18, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.comment .avatar {
  margin: 0 16px 24px 0; }

/* ## Genesis
--------------------------------------------- */
/* line 25, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.breadcrumb {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1px;
  padding: 12px 30px; }

/* line 33, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.after-entry,
.archive-description,
.author-box {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 60px; }

/* line 43, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* ## Search Form
--------------------------------------------- */
/* line 51, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.search-form {
  overflow: hidden; }

/* line 55, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-content .search-form,
.site-header .search-form {
  margin-bottom: 40px;
  width: 50%; }

/* line 61, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.site-header .search-form {
  float: right;
  margin: 12px auto 0; }

/* line 66, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px; }

/* line 71, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ## Titles
--------------------------------------------- */
/* line 85, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-size: 2rem; }

/* line 92, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-title {
  font-size: 36px;
  font-size: 3.6rem; }

/* line 97, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

/* line 103, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-title a:focus,
.entry-title a:hover {
  color: #c3251d; }

/* line 108, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.widget-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 20px; }

/* ## WordPress
--------------------------------------------- */
/* line 117, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
a.aligncenter img {
  display: block;
  margin: 0 auto; }

/* line 122, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
a.alignnone {
  display: inline-block; }

/* line 126, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.alignleft {
  float: left;
  text-align: left; }

/* line 131, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.alignright {
  float: right;
  text-align: right; }

/* line 136, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

/* line 142, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

/* line 148, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
img.alignnone,
.alignnone {
  margin-bottom: 12px; }

/* line 153, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

/* line 159, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

/* line 165, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.gallery-caption,
.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center; }

/* line 174, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-content p.wp-caption-text {
  margin-bottom: 0; }

/* line 178, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_common-classes.scss */
.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px; }

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget {
  margin-bottom: 40px;
  word-wrap: break-word; }

/* line 6, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0; }

/* line 12, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px; }

/* line 17, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget ul > li:last-of-type {
  padding-bottom: 0; }

/* line 21, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px; }

/* line 28, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0; }

/* line 34, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget_calendar table {
  width: 100%; }

/* line 38, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* ## Home Page Widget
--------------------------------------------- */
/* line 46, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.tsf-home .site-inner {
  max-width: 100%;
  padding-top: 0; }

/* line 51, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.home-top,
.home-section-1 {
  height: calc(100vh - 66px);
  background-size: cover; }

/* line 61, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-1,
.front-page-1 .wrap {
  overflow: hidden; }

/* line 67, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-1 {
  height: calc(100vh - 129px); }
  /* line 70, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
  .front-page-1 .wrap {
    display: table;
    float: right;
    height: 100vh; }
    /* line 75, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
    .front-page-1 .wrap .widget {
      display: table-cell;
      margin: 0;
      vertical-align: middle; }

/* line 85, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .one-third h1 {
  color: #fff;
  font-size: 146px;
  font-size: 14.6rem; }

/* line 91, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .two-thirds h1,
.front-page-widget-container .two-thirds h3 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center; }

/* line 100, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .two-thirds h1 {
  font-size: 44px;
  font-size: 4.4rem; }

/* line 105, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .two-thirds h3 {
  font-size: 34px;
  font-size: 3.4rem; }

/* line 110, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .cont-1 {
  height: 40vh; }

/* line 114, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .cont-2 {
  height: 25vh; }

/* line 118, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .cont-3 {
  height: 35vh; }

/* line 123, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .one-third .cont-2 h1 {
  text-shadow: 2px 2px 2px black; }

/* line 129, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .two-thirds .cont-1,
.front-page-widget-container .two-thirds .cont-3 {
  background: #d0d102; }

/* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.front-page-widget-container .two-thirds .cont-2 {
  background: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 0; }
  /* line 139, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
  .front-page-widget-container .two-thirds .cont-2 h1, .front-page-widget-container .two-thirds .cont-2 h3 {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 1.5px #fff; }

/* ## Featured Content
--------------------------------------------- */
/* line 150, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.featured-content .entry {
  background: none;
  padding: 0; }

/* line 155, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.featured-content .entry:last-of-type {
  margin-bottom: 0; }

/* line 159, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_widgets.scss */
.featured-content .entry-title {
  font-size: 20px;
  font-size: 2rem; }

/* # Pages
---------------------------------------------------------------------------------------------------- */
/* ## Progam and Schedule
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_pages.scss */
.schedule tr {
  border: none;
  margin-bottom: 6px; }

/* line 9, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_pages.scss */
.schedule td {
  background: #d0d102;
  padding-left: 10px;
  width: 88%;
  word-break: break-word; }
  /* line 15, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_pages.scss */
  .schedule td:first-child {
    background: #000;
    color: #fff;
    font-family: "Oswald", sans-serif;
    width: 12%; }

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
  color: #fff; }

/* line 9, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.sidebar .widget.enews-widget {
  background-color: #333; }

/* line 13, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
  border: 1px solid #333; }

/* line 18, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.sidebar .enews-widget input[type="submit"] {
  background-color: #c3251d;
  color: #fff; }

/* line 23, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.sidebar .enews-widget input[type="submit"]:focus,
.sidebar .enews-widget input[type="submit"]:hover {
  background-color: #fff;
  color: #333; }

/* line 29, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.enews-widget input {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px; }

/* line 35, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.enews-widget input[type="submit"] {
  margin: 0;
  width: 100%; }

/* line 40, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
.enews form + p {
  margin-top: 24px; }

/* ## Jetpack
--------------------------------------------- */
/* line 47, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_plugins.scss */
#wpstats {
  display: none; }

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_skip-links.scss */
.genesis-skip-link {
  margin: 0; }

/* line 5, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_skip-links.scss */
.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0; }

/* Display outline on focus */
/* line 12, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_skip-links.scss */
:focus {
  color: #333;
  outline: #ccc solid 1px; }

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-header {
  background-color: #000;
  position: relative;
  z-index: 100; }

/* line 7, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-header > .wrap {
  padding: 0; }

/* ## Title Area
--------------------------------------------- */
/* line 14, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.title-area {
  float: left;
  font-family: "Oswald", sans-serif;
  padding: 13px 0 10px;
  text-transform: uppercase;
  width: 440px; }

/* line 22, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.header-image .title-area {
  margin: 0 auto;
  max-width: 300px;
  padding: 0; }

/* line 28, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.header-full-width .title-area {
  float: none;
  width: 100%; }

/* line 33, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-title {
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2; }

/* line 40, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-title a,
.site-title a:focus,
.site-title a:hover {
  color: #fff;
  text-decoration: none; }

/* line 47, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.header-image .site-title > a {
  background-position: center !important;
  background-size: contain !important;
  float: left;
  min-height: 80px;
  width: 100%; }

/* line 55, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

/* line 62, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-description,
.site-title {
  margin-bottom: 0; }

/* line 67, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

/* ## Widget Area
--------------------------------------------- */
/* line 76, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-header.scss */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: 600px; }

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu {
  clear: both;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  width: 100%; }

/* line 12, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left; }

/* line 19, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu a {
  color: #fff;
  display: block;
  padding: 20px 10px;
  text-decoration: none; }

/* line 26, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  background: #d0d102;
  color: #fff; }

/* line 36, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a {
  color: #d0d102;
  text-decoration: underline; }

/* line 42, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99; }

/* line 56, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word; }

/* line 68, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px; }

/* line 72, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item:hover {
  position: static; }

/* line 76, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

/* line 81, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .first > a {
  padding-left: 0; }

/* line 85, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .last > a {
  padding-right: 0; }

/* line 89, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .right {
  float: right; }

/* ## Accessible Menu
--------------------------------------------- */
/* line 96, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.menu .menu-item:focus {
  position: static; }

/* line 100, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

/* line 106, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.menu-toggle,
.sub-menu-toggle {
  display: none;
  visibility: hidden; }

/* ## Site Header Navigation
--------------------------------------------- */
/* line 115, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.site-header .genesis-nav-menu li li {
  margin-left: 0; }

/* ## After Header Navigation
--------------------------------------------- */
/* line 122, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.nav-primary {
  background-color: #fff;
  border-top: 1px solid #eee; }

/* ## Footer Navigation
--------------------------------------------- */
/* line 130, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.site-footer .genesis-nav-menu {
  padding-bottom: 20px; }

/* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-navigation.scss */
.site-footer .genesis-nav-menu a {
  padding: 0 20px 10px; }

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 70px 80px; }

/* line 10, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }

/* line 16, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-content ol > li {
  list-style-type: decimal; }

/* line 20, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-content ul > li {
  list-style-type: disc; }

/* line 24, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

/* line 29, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-content code {
  background-color: #333;
  color: #eee; }

/* ## Entry Meta
--------------------------------------------- */
/* line 37, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
p.entry-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0; }

/* line 43, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-header .entry-meta {
  margin-bottom: 24px; }

/* line 47, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 24px; }

/* line 52, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-categories,
.entry-tags {
  display: block; }

/* line 57, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* ## Pagination
--------------------------------------------- */
/* line 65, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.pagination {
  clear: both;
  margin: 40px 0; }

/* line 70, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.adjacent-entry-pagination {
  margin-bottom: 0; }

/* line 74, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.archive-pagination li {
  display: inline; }

/* line 78, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.archive-pagination a {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none; }

/* line 90, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a {
  background-color: #c3251d;
  color: #fff; }

/* ## Comments
--------------------------------------------- */
/* line 100, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px; }

/* line 109, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-respond,
.entry-pings {
  padding: 60px 60px 32px; }

/* line 114, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-comments {
  padding: 60px; }

/* line 118, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-list li {
  padding: 40px 0 0 30px; }

/* line 122, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-list .depth-1 {
  padding-left: 0; }

/* line 126, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-header {
  margin-bottom: 30px; }

/* line 130, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-content {
  clear: both; }

/* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-content ul > li {
  list-style-type: disc; }

/* line 138, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

/* line 144, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-respond label {
  display: block;
  margin-right: 12px; }

/* line 149, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.comment-header p {
  margin-bottom: 0; }

/* line 153, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_content-area.scss */
.entry-pings .reply {
  display: none; }

/* # Sidebars
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_sidebars.scss */
.sidebar {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px; }

/* line 7, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_sidebars.scss */
.sidebar .widget {
  background-color: #fff;
  padding: 40px; }

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_footer-widgets.scss */
.footer-widgets {
  background-color: #000;
  bottom: 33px !important;
  clear: both;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 200; }
  /* line 12, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_footer-widgets.scss */
  .footer-widgets .simple-social-icons ul li {
    margin: 0 6px 0px !important; }

/* line 17, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_footer-widgets.scss */
.footer-widgets-1 {
  width: 100%; }

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-footer.scss */
.site-footer {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0px !important;
  right: 0;
  width: 100%;
  z-index: 200; }

/* line 16, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_site-footer.scss */
.site-footer p {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0; }

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1340px) {
  /* line 3, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap,
  .front-page-1 {
    max-width: 1140px; }
  /* line 9, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px; }
  /* line 15, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .content {
    width: 800px; }
  /* line 19, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 580px; }
  /* line 25, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sidebar-primary {
    width: 300px; } }

@media only screen and (max-width: 1200px) {
  /* line 34, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap,
  .front-page-1 {
    max-width: 960px; }
  /* line 40, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px; }
  /* line 46, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .title-area,
  .site-header .widget-area {
    text-align: center;
    width: 100%; }
  /* line 52, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .content {
    width: 620px; }
  /* line 56, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px; }
  /* line 62, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .front-page-1 {
    height: calc(100vh - 179px); }
    /* line 65, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .cont-1 {
      height: 35vh; }
    /* line 69, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .cont-2 {
      height: 25vh; }
    /* line 73, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .cont-3 {
      height: 40vh; }
  /* line 79, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .schedule td {
    width: 80%; }
    /* line 82, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .schedule td:first-child {
      width: 20%; } }

@media only screen and (max-width: 1023px) {
  /* line 92, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap,
  .front-page-1 {
    max-width: 800px; }
  /* line 98, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .genesis-responsive-menu .genesis-nav-menu .sub-menu,
  .genesis-responsive-menu .genesis-nav-menu .sub-menu a,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%; }
  /* line 114, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-header .wrap {
    padding-left: 5%;
    padding-right: 5%; }
  /* line 119, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-nav-menu li,
  .header-image .title-area,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none; }
  /* line 126, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center; }
  /* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-header .search-form {
    margin: 16px auto; }
  /* ### Genesis Responsive Menus */
  /* line 140, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .wrap {
    padding: 0; }
  /* line 144, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu {
    display: none;
    position: relative; }
  /* line 149, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-skip-link .skip-link-hidden {
    display: none;
    visibility: hidden; }
  /* line 154, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .menu-toggle,
  .sub-menu-toggle {
    background-color: #000;
    border-width: 0;
    color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    visibility: visible; }
  /* line 166, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .menu-toggle:focus,
  .menu-toggle:hover,
  .sub-menu-toggle:focus,
  .sub-menu-toggle:hover,
  .widget-area.header-widget-area button:focus {
    background-color: #000;
    border-width: 0;
    color: #d0d102; }
  /* line 176, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .menu-toggle {
    line-height: 22px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1000; }
  /* line 184, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .menu-toggle,
  .menu-toggle:focus,
  .menu-toggle:hover {
    border-top: 1px solid #000; }
  /* line 190, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .menu-toggle::before {
    font-size: 1.5em;
    margin-right: 10px;
    text-rendering: auto; }
  /* line 196, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sub-menu-toggle {
    float: right;
    padding: 13px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100; }
  /* line 205, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sub-menu .sub-menu-toggle {
    padding: 12px 10px; }
  /* line 209, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sub-menu-toggle::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
  /* line 220, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sub-menu-toggle.activated::before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  /* line 226, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .menu-item {
    display: block;
    float: none;
    position: relative;
    text-align: center; }
  /* line 233, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
  .genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
    position: relative; }
  /* line 238, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .menu-item a {
    border: none;
    margin-bottom: 1px;
    padding: 15px 20px;
    width: 100%; }
  /* line 245, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .sub-menu {
    border: none; }
  /* line 249, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
  .genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
    left: 0;
    margin-left: 0; }
  /* line 255, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
    content: none; }
  /* line 259, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    width: 100%; }
  /* line 269, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
    margin: 0; }
  /* line 273, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .front-page-1 {
    height: calc(100vh - 178px); } }

@media only screen and (max-width: 860px) {
  /* line 281, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  body,
  body > div {
    font-size: 18px;
    font-size: 1.8rem; }
  /* line 287, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-inner {
    padding: 5% 5% 0; }
  /* line 295, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .wrap {
    padding-left: 5%;
    padding-right: 5%; }
  /* line 300, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%; }
  /* line 312, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .sidebar {
    margin-bottom: 5%; }
  /* line 316, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .pagination {
    margin: 5% auto; }
  /* line 320, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .archive-pagination li a {
    margin-bottom: 4px; }
  /* line 324, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; }
  /* line 339, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .footer-widgets {
    position: static; }
  /* line 343, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .site-footer {
    font-size: 13px;
    font-size: 1.3rem;
    position: static; }
  /* line 349, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .front-page-1 {
    height: auto;
    height: calc(100vh - 182px); }
    /* line 353, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .wrap {
      float: none;
      height: calc(100vh - 182px); }
    /* line 358, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .one-third.first {
      float: left;
      width: 30%; }
    /* line 363, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .two-thirds {
      float: right;
      width: 70%; }
    /* line 368, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .front-page-1 .cont-1,
    .front-page-1 .cont-2,
    .front-page-1 .cont-3 {
      height: auto; }
  /* line 376, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
  .schedule td {
    width: 74%; }
    /* line 379, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_media-queries.scss */
    .schedule td:first-child {
      width: 26%; } }

/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@media print {
  /* line 3, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  *,
  *::before,
  *::after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  /* line 12, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  a,
  a:visited {
    text-decoration: underline; }
  /* line 17, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  a[href]::after {
    content: " (" attr(href) ")"; }
  /* line 21, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /* line 25, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  a[href^="javascript:"]::after,
  a[href^="#"]::after,
  .site-title > a::after {
    content: ""; }
  /* line 31, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  thead {
    display: table-header-group; }
  /* line 35, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  img,
  tr {
    page-break-inside: avoid; }
  /* line 40, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  img {
    max-width: 100% !important; }
  @page {
    margin: 2cm 0.5cm; }
  /* line 48, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  /* line 55, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /* line 61, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  .content,
  .content-sidebar {
    width: 100%; }
  /* line 66, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important; }
  /* line 89, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  .title-area {
    text-align: center;
    width: 100%; }
  /* line 94, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0; }
  /* line 100, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  .site-inner {
    padding-top: 0;
    position: relative;
    top: -100px; }
  /* line 106, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  .author-box {
    margin-bottom: 0; }
  /* line 110, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3; }
  /* line 123, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  img {
    page-break-after: avoid;
    page-break-inside: avoid; }
  /* line 128, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  blockquote,
  pre,
  table {
    page-break-inside: avoid; }
  /* line 134, Users/designnify/Sites/www/tsf-theme.dev/wp-content/themes/tsf/sass/partials/_print-styles.scss */
  dl,
  ol,
  ul {
    page-break-before: avoid; } }
