.footer-widgets {
	background-color: #000;
	bottom: 33px !important;
	clear: both;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 0;
	position: fixed;
    width: 100%;
    z-index: 200;
    
    .simple-social-icons ul li {
	    margin: 0 6px 0px !important;
    }
}

.footer-widgets-1 {
	width: 100%;
}