/* ## Progam and Schedule
--------------------------------------------- */
.schedule {
	tr {
		border: none;
		margin-bottom: 6px;
	}

	td {
		background: $color-green;
		padding-left: 10px;
		width: 88%;
		word-break: break-word;
		
		&:first-child {
			background: #000;
			color: #fff;
			font-family: $font-sans-h;
			width: 12%;
		}
	}
}