.site-footer {
	background-color: #000;
	color: #fff;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1;
	padding: 10px 0;
	text-align: center;
	position: fixed;
    bottom: 0px !important;
    right: 0;
    width: 100%;
    z-index: 200;
}

.site-footer p {
	font-family: $font-sans-h;
	margin-bottom: 0;
}