.site-header {
	background-color: #000;
	position: relative;
	z-index: 100;
}

.site-header > .wrap {
	padding: 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	font-family: $font-sans-h;
	padding: 13px 0 10px;
	text-transform: uppercase;
	width: 440px;
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 23px;
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #fff;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 600px;
}