//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #eee;
$color-font:         #333;
$color-green: 		 #d0d102;

// Fonts
$font-sans:  	'Quattrocento Sans', sans-serif;
$font-sans-h:  	'Oswald', sans-serif;
$font-sans-w:  	'Poppins', sans-serif;