.widget {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Home Page Widget
--------------------------------------------- */

.tsf-home .site-inner {
	max-width: 100%;
	padding-top: 0;
}

.home-top,
.home-section-1 {
	height: calc(100vh - 66px);
	background-size: cover;
	
	.wrap {
		
	}
}

.front-page-1,
.front-page-1 .wrap {
// 	height: calc(100vh - 173px);
	overflow: hidden;
}

.front-page-1 {
	height: calc(100vh - 129px);
	
	.wrap {
		display: table;
		float: right;
		height: 100vh;
		
		.widget {
			display: table-cell;
			margin: 0;
			vertical-align: middle;
		}
	}
}

.front-page-widget-container {
	
	.one-third h1 {
		color: #fff;
		font-size: 146px;
		font-size: 14.6rem;
	}
	
	.two-thirds h1,
	.two-thirds h3 {
		color: #000;
		font-family: $font-sans-w;
		font-weight: 700;
		margin: 0;
		text-align: center;
	}
	
	.two-thirds h1 {
		font-size: 44px;
		font-size: 4.4rem;
	}
	
	.two-thirds h3 {
		font-size: 34px;
		font-size: 3.4rem;
	}
	
	.cont-1 {
		height: 40vh;
	}
	
	.cont-2 {
		height: 25vh
	}
	
	.cont-3 {
		height: 35vh;
	}
	
	.one-third {
		.cont-2 h1 {
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
		}
	}
	
	.two-thirds {
		.cont-1, 
		.cont-3 {
			background: $color-green;
		}
		
		.cont-2 {
			background: rgb(255, 255, 255);
			background: rgba(255, 255, 255, .5);
			padding: 15px 0;
			
			h1, h3 {
				-webkit-text-fill-color: #000;
				-webkit-text-stroke: 1.5px #fff;
			}
		}
	}
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	background: none;
	padding: 0;
}

.featured-content .entry:last-of-type {
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}